.send-mail{
    border: 1px solid #ddd;
    background: #ddd;
    padding: 10px;
    min-width: 80px;
    font-size: 14px;
    color: #000;
    border-radius: 3px;
    cursor: pointer;
    &:focus{
        outline: none;
    }
}