.modal-wrapper{
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;

    .modal{
        background: #fff;
        position: relative;
        max-width: 400px;
        margin: 0 auto;
        width: 70%;
        padding: 20px;
        box-shadow: 1px 1px 3px #999;
        border: 1px solid #fff;
        transform: translateY(50%);
        cursor: pointer;

        &-close{
            position: absolute;
            top: 20px;
            right: 20px;
            &:after{
                content: "\0292B";
            }
        }

        &-title{
            color: #00bfff;
            margin-top: 0;
        }

        &-content{
            margin: 20px 0;
        }

        &-actions{
            overflow: hidden;
            margin-top: 30px;
            &-buttons{
                float: right;
                margin-left: 10px;
                color: #000;
                background: #ccc;
                border: 1px solid #fff;
                min-width: 80px;
                padding: 10px;
                cursor: pointer;
                &:hover{
                    background: darken(#ccc, 10%);
                }
                &:focus{
                    outline: none;
                }
            }
            &-confirm{
                background: #00bfff;
                color: #fff;
                &:hover{
                    background: darken(#00bfff, 10%);
                }
            }
        }
    }
}